body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

.nav-links {
    color: grey;
}

.nav-links:hover {
    text-decoration: none;
}

.google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}

.form {
    text-align: center;
}

#form-search {
    border-color: black;
    border-radius: 25px;
    width: 450px;
    line-height: 15px;
    padding: 20px 10px;
}

#form-search:hover {
    background-color: rgb(240, 238, 238);
}

.buttons {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 300px;
}

#google_search , #im_feeling_lucky {
    background-color: #f8f9fa;
    border-color: lightgray;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-family: Arial, sans-serif;
}

#google_search:hover , #im_feeling_lucky:hover {
    border-color: rgb(145, 144, 144);
}
